// custom file
// colors
$accentColor = #F66F1B
$textColor = #171717
$linkColor = #ffa601
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
