@import './config.styl'

.mixes
  padding: 0.5rem 0 2rem 0
  max-width: 960px
  margin: 0px auto

  .content 
    max-width: 960px


  > div
    display: grid
    grid-gap: 30px
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    max-width: none

    img
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
      border-radius: 3px
      transform: translateZ(0)
      width: 100%
      padding-top: 0
      margin-bottom: 0.5rem

  h3
    margin-bottom: 0
    transform: translateZ(0)

  p
    margin: 0.1rem 0 0 0
    color: lighten($textColor, 75%)
    transform: translateZ(0)

  a
    color: $textColor

    &:hover
      text-decoration: none

    a:hover
      text-decoration: none