.content {
  line-height 1.5 em
  letter-spacing 1px
  font-feature-settings: "kern" 1
  font-kerning: normal
  font: 400 18px/1.8 "IropkeBatangM","Helvetica Neue",Helvetica,Arial,sans-serif
}
dl {
  display: grid;
  align-items: stretch;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  padding: 1rem;
  border: 3px double $borderColor;
  overflow-x: auto;
  line-height: 1.7;
}

@media (min-width: $MQMobile) {
  dl {
    grid-template-columns: min-content 1fr;
  }
}

dt {
  white-space: nowrap;
  font-weight: 600;
}

dd {
  margin: 0;
}

dd p:first-of-type {
  margin-top: 0;
}

dd p:last-of-type {
  margin-bottom: 0;
}

dd ul {
  margin: 0;
}

@media (min-width: $MQNarrow) {
  .sidebar {
    transition: max-width 0.7s, box-shadow 0.7s;
    max-width: $sidebarWidth;
    min-width: $sidebarWidth;
    width: auto !important;
  }


  .sidebar-link {
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar {
    white-space: nowrap;
  }

  .sidebar:hover {
    max-width: 34vw;
    box-shadow: 1px 0px 10px 5px #eaecef;
  }
}

.home .hero img {
  border-radius: 50%;
}

/* jay jin*/

h1 {
  font-family: "Gugi", cursive;
  font-weight: 500;
  border-bottom: 17px solid #ffd816;
  word-break: keep-all;
  font-size: 5rem;
}

@media (max-width: 550px) {
  h1 {
    font-size: 4.4rem;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 3.4rem;
  }
}
