.content {
  line-height 1.5 em
  letter-spacing 1px
  font-weight 400
  font-feature-settings: "kern" 1
  font-kerning: normal
  font: 400 18px/1.8 "IropkeBatangM","Helvetica Neue",Helvetica,Arial,sans-serif
}
